
body
{
    background-image: url(photo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


#btn
{
    font-size: 32px;
    background-color: rgba(255,255,255, 0.25);
    border-radius: 10px;
    height:70px;
    width:350px;
    position: absolute;
    top: 70%;
    color: white;
}

#btn:hover
{
    background-color: white;
    color: black;

   
}

#model-container
{
 
  position: absolute;
  height: 100%;
  width: 100%;
    display: none;
    z-index: -1;
    background-color: rgba(255,255,255, 0.25);

}
#model
{
height:40px;
width:300px;
border-radius: 10px;
background-color: white;
border-color: lightgray;
font-size: 24px;
margin:5px;
margin-left: auto;
margin-right: auto;
margin-top: 300px;
display: flex;
justify-content: center;
align-items: center;
padding:20px;

}
#close
{
    font-size: 32px;
    border-radius: 5px;
    margin:10px;

}

#close:hover
{
    color: red;
    cursor: pointer;
}